/* css */
* {
    
    margin: 0;
    padding: 0; 
     
}
body {
    background-color: cadetblue;
}

header  {
    background-color: #2F3648;
    height: 90px;    
    padding: 20px; 
    display: flex;
    
}
.logo {
    width: 300px;
}

section {
    background-color: #394258;
    height: 150px;
}

p {
   
    color: #BABAB9;
    margin: 0;
    padding: 40px;
    text-align: right;
    font-size: 20;   
    height: 80px;   
    
}

.main {
   background: cornflowerblue;
   max-width: 600px;   
   margin: auto;
   margin-top: 40px;
   padding: 0 10px;
    
}

/*inputs de mensagem*/
.main .messages {    
    box-sizing: border-box;
    display: block;    
    width: 100%;
    padding: 20px 40px;
    
}

.flexContainer {
    display: flex;
    justify-content: center;
}



